<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
        <div>
            <h1>Tasks</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo_list_detail %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
  </body>
</html>
