<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
        <div>
            <h1>My Lists</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
            </thead>
            <tbody>
                {% for list in todo_list_list %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
  </body>
</html>
